
html {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black
}

#content {
    max-width: 450px;
    height: 97vh;
    width: 100%;
    background-color:rgb(65, 65, 65);
    display: grid;
    grid-template-areas: "top" "nav" "main";
    grid-template-rows: 4% 10% 86%;
}

#nav {
    position: relative;
    height: 100%;
    color: rgba(255, 255, 255, 0.849);
    background-color:rgb(109, 109, 109);
    display: grid;
    grid-template-areas: "nav-left" "title" "nav-right";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr;
}

#nav-left {
    font-family: monospace;
    position: relative;
    bottom: 3px;
    color: rgba(255, 255, 255, 0.849);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
}

#title {
    margin: 0px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu_button div {
    width: 20px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.849);
    margin: 3px;
    border-radius: 1px;
}

#menu_button {
    cursor: pointer;
}

#navigation {
    display: none;
    position: absolute;
    right: 5%;
    top: 100%;
    width: 140px;
    height: 170px;
    background-color: rgb(65, 65, 65);
    z-index: 99;
}

#navigation ul {
    list-style: none;
}

#navigation ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(109, 109, 109);
}

.arrow_button {
    font-family: monospace;
    position: relative;
    bottom: 25px;
    background-color: rgb(219, 47, 47);
    color: rgba(255, 255, 255, 0.849);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 2px rgb(0, 0, 0, 19%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
}

.arrow {
    position: relative;
    bottom: 5px;
}

.plus_button {
    position: relative;
    bottom: 25px;
    background-color: rgb(219, 47, 47);
    color: rgba(255, 255, 255, 0.849);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 2px rgb(0, 0, 0, 19%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5em;
    z-index: 99;
}

.page_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* PAGE 1 */

#page_1 {
    display: none;
}

#match_button {
    background-color: rgb(219, 47, 47);
    color: rgba(255, 255, 255, 0.849);
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 5px rgb(87 87 87 / 69%);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* PAGE 2 */

#page_2 {
    display: none;
    height: 100%;
}

#page_2_container {
    height: 100%;
    display: grid;
    grid-template-areas: "page_2_top" "page_2_main" "page_2_bottom";
    grid-template-rows: 5% 85% 10%;
    grid-template-columns: 1fr;
}

#page_2_top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.849);
}

#page_2_main {
    background-color: rgb(230, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

#page_2_main_inner {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.932);
    box-shadow: 0px 0px 1px 2px rgb(212, 212, 212);
    display: flex;
    flex-direction: row;
}

#page_2_main_inner div {
    width: 50%;
    margin: 80px 20px 20px 20px;
    color: rgba(129, 127, 127, 0.849);
    font-size: 0.7em;
    text-align:justify;
}

#page_2_main_image {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* PAGE 3 */

#page_3 {
    display: none;
    height: 100%;
    width: 100%;
}

#page_3_container {
    height: 100%;
    display: grid;
    grid-template-areas: "page_2_top" "page_2_main" "page_2_bottom";
    grid-template-rows: 5% 85% 10%;
    grid-template-columns: 1fr;
}

#page_3_top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.849);
}

#page_3_main {
    background-color: rgb(230, 228, 228);
    display: flex;
    flex-direction: row;
    padding: 5px;
}

#page_3_primary, #page_3_secondary {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align:justify;
}

.color-box {
    margin: 5px;
    height: 100%;
    box-shadow: 0px 0px 1px 2px rgb(212, 212, 212);
}

#color1 {
    background-color: rgb(25, 43, 77);
}
#color2 {
    background-color: rgb(31, 56, 104);
}
#color3 {
    background-color: rgb(43, 17, 17);
}
#color4 {
    background-color: rgb(71, 71, 71);
}
#color5 {
    background-color: rgb(39, 39, 39);
}
#color6 {
    background-color: rgb(0, 0, 0);
}
#color7 {
    background-color: rgb(228, 175, 197);
}
#color8 {
    background-color: rgb(226, 175, 228);
}
#color9 {
    background-color: rgb(166, 195, 228);
}
#color10 {
    background-color: rgb(173, 173, 173);
}
#color11 {
    background-color: rgb(221, 221, 221);
}
#color12 {
    background-color: rgb(255, 255, 255);
}




/* PAGE 4 */

#page_4 {
    display: block;
    height: 100%;
    width: 100%;
}

#page_4_container {
    height: 100%;
}

#page_4_main {
    height: 100%;
    display: grid;
    grid-template-areas: "page_4_top" "page_4_main_inner" "page_4_bottom";
    grid-template-rows: 7% 83% 10%;
    grid-template-columns: 1fr;
}

#page_4_top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.849);
    background-color: rgb(230, 228, 228); 
    padding: 8px 4px 0px 4px;
}

#page_4_top div {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 1px 2px rgb(212, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}

#page_4_primary {
    color: rgba(255, 255, 255, 0.849);
    background-color: rgb(22, 16, 77);
    cursor: pointer;
}

#page_4_secondary {
    color: rgba(0, 0, 0, 0.849);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#page_4_main_inner {
    background-color: rgb(230, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

#page_4_main_inner div {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.932);
    box-shadow: 0px 0px 1px 2px rgb(212, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
}



/* PAGE 5 */

#page_5 {
    height: 100%;
    width: 100%;
    display: none;
}

#page_5_container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "page_5_main" "page_5_bottom";
    grid-template-rows: 90% 10%;
    grid-template-columns: 1fr;
}

#save_button {
    font-size: 1.1em;
    width: 30px;
    height: 30px;
    bottom: -5px;
    box-shadow: 0px 0px 1px 2px rgb(27 27 27 / 8%);
    position: relative;
}

#save_button div {
    position: relative;
    bottom: 3px;
}

#page_5_main {
    background-color: rgb(230, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
}

.page_5_entry {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: 4px;
    height: 50px;
    font-size: 0.5em;
    box-shadow: 0px 0px 1px 1px rgb(212, 212, 212);
    padding: 4px;
    grid-template-areas: "page_5_entry_left" "page_5_entry_center" "page_5_entry_right";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr;
}

.page_5_entry_left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_5_entry_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page_5_entry_title {
    font-weight: bold;
    font-size: 1.5em;
}

.page_5_entry_text {
    color: rgba(129, 127, 127, 0.849);
}

.page_5_entry_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow_down {
    font-family: monospace;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    transform: rotate(90deg);
}


/* TESTING */

#mannequin_container {
    position: relative;
}

#L1 {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#L2 {
    display: none;  
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#L3 {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}